* {
    color: white;
}

header {
    background-color: rgb(22, 0, 22);
}

body {
    background-color: rgb(22, 0, 22);
}

/* #160c1b */

footer { 
    background-color: rgb(22, 0, 22);
    padding-bottom: 3em;
}

input, select, option {
    color: black;
}

hr { 
    border: 0; 
    border-top: 1px solid white;
}

/* Alert styling */
.myAlert {
    width : 30%;
    position: absolute;
    top: 5%;
    height: 7%;
    
}

.myAlert p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
}

.myAlert path {
    color: black;
}

.myAlert button {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

/* Navbar styling */
.myNavBar {
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}

.left-item {
    padding-left: 2em;
    padding-right: 2.5em;
}

.rightNav {
    padding-left: 2em;
    padding-right: 2em;
}

.dropdown:hover .dropdown-menu {
    display:block;
    margin-top: 0; 
}

.dropdown-menu {
    background-color: rgb(22, 0, 22);
}

.dropdown-item:hover {
    background-color: grey;
}


/* Organising styling by pages

   home -> event -> create -> history 

   Index page styling */

.Option1 {
    /* background-image: url("img/event.jpg"); */
    background-color: #544a75;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
    filter: drop-shadow(0 0 0.75rem rgb(22, 0, 22));
}

.Option2 {
    /* background-image: url("img/game.jpg"); */
    background-color: #544a75;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
    filter: drop-shadow(0 0 0.75rem rgb(22, 0, 22));
}

.Option3 {
    background-image: url("img/event.jpg");
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
}

#desktopImage h3{
    height:0px;
    font-size: 5em;
    position:relative; 
    top: -200px; color:white; 
}

.mute {
    color: #a3a3a3;
}

.img-carousel { 
    min-height: 425px; 
}

/* Event objects styling */

.event {
    background-color: #544a75;
    margin-bottom:30px;
    margin-top: 30px;
    padding:30px;
    border: 20px;
    border-radius: 20px;
    width: 80%
}

.interested {
    display: none;
    position:relative;
    top: 10%;
}

.interested-user {
    padding-top:5%;
    padding-bottom:2%;
    padding-left: 10%;

    margin-top:5%;

    background-color: #544a75;
    border-radius: 30px;
}

.unavailable {
    display: none;
    position: relative;
    top: 10%;
}

/* Tutorial objects styling */

.tutorial {
    width: 100%;
    padding-top: 2%;
    padding-bottom:2%;
    height:100%;
}

.tutorial h1 {
    font-size: 2.5em;
    padding: 1%;
    padding-right: 5%;
}

.tutorial p {
    font-size: 1.25em;
    padding-left:1%;
    padding-right: 50%;
    padding-top: 5%;
}

.tutorial-dark {
    background-color: rgb(22, 0, 22);
}

.tutorial-light {
    background-color: #544a75;    
}

/* Account page styling */

.group-obj {
    padding-top:3%;
    padding-left:5%;
    padding-bottom:3%;
    
    border-radius: 50px;

    max-width:50%;
    margin-top: 3%;
    background-color: #544a75;
}

/* Chat styling */
.chat {
    padding:5%;
    background-color: rgb(22, 0, 22);
    border-radius: 20px;
}

.comment {
    margin:3%;
    width: 70%;
    padding:2%;
    padding-bottom: 1%;
    border-radius: 20px;
    background-color: #544a75;
}

/* Restyling the buttons */

.btn-primary {
    background-color: #21165c;
    border-color:#21165c;
}

.btn-primary:hover {
    background-color: #150e3b;
    border-color:#150e3b;
}

.btn-danger {
    background-color: rgb(151, 47, 47);
    border-color:rgb(151, 47, 47);
}

.btn-danger:hover {
    background-color: rgb(88, 13, 13);
    border-color:rgb(88, 13, 13);
}