* {
    font-family: 'Source Code Pro', monospace;
}

.white-text {
    color: white;
}

.myTextAreaField {
    resize: none;
}

.create {

    margin-top: 100px;

}

.black-text {
    color: black;
}

.myForm {

    margin-top: 50px;

}

footer { 
    background-color: rgb(22, 0, 22);
    padding-bottom: 3em;
    color:white;
    margin-top: auto;
    width: 100%;
    position: relative;
    bottom: 0;
}

a {
    text-decoration: none;
}

#mobileImage {
    display:none;
}

#mobileTitle{
    display: none;
}

#desktopImage h3{
    height: 0px;
    position:relative; 
    font-size: 5em;
    top: -150px;
    color:white; 
    /* font-family: 'Source Code Pro', monospace; */
}

.mobile {
    display: none;
}

.myAlert {
    width : 30%;
    position: absolute;
    top: 5%;
    height: 7%;
}

.myAlert p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
}

.myAlert button {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.event-display .card {
    max-width: 600px;
}

.event-display img {
    width: 600px;
}

@media (max-width: 992px) { 
    .img-carousel{
        background-position: center;
        background-repeat: no-repeat;
        background-size:unset;
        image-orientation: 12deg;
        background-color: red;
    }

    .myAlert p {
        font-size: 0.7em;
    }

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .myAlert {
        height: 12.5%;
    }

    #mobileTitle{
        display: inherit;
    }

    #carouselExampleIndicators {
        display: none;
    }

    #desktopImage {
        display: none;
    }

    #mobileImage {

        display:inherit;
        min-height: 100px;
                        
    }

    #mobileImage h3 {
        height:0px;
        font-size: 3em;
        position:relative; 
        top: -120px; color:white; 
        font-family: 'Source Code Pro', monospace;
    }

}

@media (max-width: 600px) {
    #mobileImage h3{
        height: 0px;
        position:relative; 
        font-size: 1.75em;
        top: -50px; color:white; 
        /* font-family: 'Source Code Pro', monospace; */
    }
    
    #mobileTitle{
        display: inherit;
    }

    #desktopImage {
        display: none;
    }

    .myAlert {
        height: 10%;
        width: 80%;
    }

    .event-display {
        max-width: 300px;
    }

    .event-display img {
        width: 200px;
    }
}

.left-item {
    padding-left: 2em;
    padding-right: 2.5em;
    
}

.myNavBar {
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}

.rightNav {
    padding-left: 2em;
    padding-right: 2em;
}

body, html {
    min-height: 100%;
    background-color: #160c1b;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.Option1 {
    background-image: url("img/event.jpg");
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
}

.Option2 {
    background-image: url("img/game.jpg");
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
}

.Option3 {
    background-image: url("img/event.jpg");
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 130px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    text-decoration: none;
}

.carousel-title{
    font-size: 5em;
    color:whitesmoke;
}

.navbar a {
    color: white;
}

.white, .white a {
    color: #fff;
}


