{% extends "template.html" %}

{% block body %}
    
    {% if type =="explore" %}
    

        {% if current_user.is_authenticated %}
        <div id="mobileImage">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/hangouts-mobile.png') }}" alt="Welcoming Image">
        </div>
        
        <div id="desktopImage">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/hangouts-desktop.png') }}" alt="Welcoming Image">
        </div>
        <div class="container">
            <div class="explore">
        <h1 class="mt-5">Your HangOut groups</h1>

        {% if current_user.hangoutgroup %}

        {% for group in current_user.hangoutgroup%}
            
            <div class="group-obj">
                <h3>{{group.Name}}</h3>
                <a class="btn btn-primary" href="{{url_for('hangout.view', id = group.ID)}}">View page</a>
            </div>            

        {% endfor %}

        <h1 class="mt-5">Join or create another HangOut group</h1>

        {% else %}
        
        

        {% endif %}

        <div class="row desktop-menu">        
            <div class="col-lg-6 d-flex justify-content-center" >
                <a class="Option2" style="border-radius:10px; text-decoration: none; color: white;" href="{{ url_for('hangout.create_hangout') }}">Create a HangOut group</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="Option1" style="border-radius:10px; text-decoration: none; color: white;" href="{{ url_for('hangout.join') }}">Join a HangOut group</a>
            </div>
        </div>

        <div class="row mobile-menu">        
            <div class="d-flex justify-content-center" >
                <a class="Option2m" style="border-radius:10px; text-decoration: none; padding-top: 10%; color: white;" href="{{ url_for('hangout.create_hangout') }}">Create a HangOut group</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="Option1m" style="border-radius:10px; text-decoration: none; height:50%; color: white;" href="{{ url_for('hangout.join') }}">Join a HangOut group</a>
            </div>
        </div>
        {% else %}

        <div id="mobileImage">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/hangouts-mobile.png') }}" alt="Welcoming Image">
        </div>
        
        <div id="desktopImage">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/hangouts-desktop.png') }}" alt="Welcoming Image">
        </div>

        <div class="container">
            <h1 class="mt-5" style="font-size: 5em;">What are HangOut groups?</h1>
        
            <p class="mt-5" style="font-size: 2em;">HangOut groups are a group of your friends or strangers if you want, who can all see the same set of events or plans that are upcoming.</p>

            <p class="mt-5" style="font-size: 2em;">It's easy to create a HangOut group</p>
        
            <br>
            <h3>Required Information</h3>
            <ul>
                <li style="font-size: 1.5em;">HangOut group name</li>
            </ul><br>
        
            <h3>Optional</h3>
            <ul>
                <li style="font-size: 1.5em;">Pin</li>
            </ul>

            <p class="mt-5" style="font-size: 1.5em;">Note: If you don't provide a pin, then a user will have to join the group via the group's join link. If you don't provide a pin you can always edit the group to add a pin or to change it.</p>

            <br><br><br>

        {% endif %}

    </div>


    {% elif type =="view" %}
    
    <div class="container">
    <div class="view mt-5">
        <h1>{{group.Name}}</h1>

        <h3>Group Members</h3>

        {% for user in group.Users %}
        {% if user.ID == group.Creator_ID %} <p style="margin-bottom:3%; padding:15px; padding-left:3%; width:40%; background-color: #544a75; border-radius: 15px; font-size:1.25em">{{user.Username}} &#128081;</p>
        {%else%}<p style="margin-bottom:3%; padding:15px; padding-left:3%; width:40%; background-color: #544a75; border-radius: 15px; font-size:1.25em">{{user.Username}}</p>{%endif%}
        {% endfor %}

        <h3>Invite Link</h3>
        <input id="link" type="text"  class="form-control" style="width: 50%;" value="{{base_url + url_for('hangout.link', id = group.JoinLink)}}" readonly>
        <button class="mt-3 btn btn-primary" onclick="copy()">Copy to clipboard</button>

        {% if group.Events != [] %}
        <h1 class="mt-4">This groups upcoming events</h1>
        {% endif %}

        {% for event in group.Events %}
        <div class="event">
            <h1 style="color: white;">{{event.Name}} {% if not event.DateTime %}(PLAN){% endif %} </h1>

            <p style="margin-top:2%; font-size:1.25em;">{{event.Description}}</p>

            <strong>
                {% if event.DateTime %}
                {{event.DateTime.strftime('%d / %m / %Y')}}<br>
                {{event.DateTime.strftime('%I:%m %p')}}
                {% else %}
                This is still a plan. Hasn't got a date yet.
                {% endif %}
            </strong> 
            <br>
            <a href="{{url_for('event.event', id = event.ID)}}" class="mt-2 btn btn-secondary">See more details</a>
        </div>
        {% endfor %}
        
    </div>


    {% elif type =="join" %}
    <div class="container">
    <div class="join">
        <h1 class="mt-5">Join a HangOut group</h1>
        
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group mt-5">
                <div class="row">
                      <div class="white-text">
                        
                        <div class="name mr-3" style="display: inline-block;">
                            {{form.name (class="form-control black-text mb-4 mr-3", size="20", style="font-size: 1.5em;" )}}
                        </div>
    
                        <div class="pin mr-5" style="display: inline-block;">
                            {{form.pin (class="form-control black-text mb-4", size="4", style="font-size: 1.5em;" )}}                      
                        </div>
    
                        {{form.submit (class="btn btn-primary btn-lg white-text mb-3")}}
                      </div>
                  </div>
            </div>
        </form>
    </div>

    {% elif type == "edit" %}
    <div class="container">
        <h1 class="mt-5">Edit HangOut group</h1>

        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <div class="row">
                    <div class="white-text">                        
                        <div class="name mr-3" style="display: inline-block;">
                            {{form.name (class="form-control black-text mb-4 mr-3",  size="35", style="font-size: 1.5em;" )}}
                        </div>
    
                        <div class="pin mr-5" style="display: inline-block;">
                            {{form.pin (class="form-control black-text mb-4", size="10", style="font-size: 1.5em;" )}}                      
                        </div>
    
                        {{form.submit (class="btn btn-primary btn-lg white-text mb-3")}}
                      </div>
                </div>
            </div>
        </form>

    </div>

    {% endif %}

</div>

{% endblock %}

{% block footer %}display: none;{% endblock %}

{% block script %}

function copy() {

    var copyText = document.querySelector("#link");
    copyText.select();
    document.execCommand('copy');

}

{% endblock %}