{% extends 'template.html' %}

{% block body %}
<div class="container">
  <div class="row create">
    <form style="width: 80%;" class="ml-4" action="" method="POST">
      {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="row">
                <div class="white-text col-lg-6">
                    {{form.title.label (class="white-text")}}
                    {{form.title (class="form-control black-text mb-4 mr-3")}}

                    <label class="white-text" for="description">Description *</label>

                    <!-- Here? -->
                    <textarea class="form-control black-text myTextAreaField mb-5" id="description" name="description" placeholder="Description of the event" required rows="10">{{event.Description}}</textarea>
                      
                </div>

                <div class="white-text col-lg-6">
                  <div id="DateTime", style="display: none;">
                    {{form.date.label (class="white-text mr-5")}}
                    {{form.date (class="form-control black-text mr-5")}}

                    {{form.time.label (class="white-text mr-5")}}
                    {{form.time (class="form-control black-text mr-5")}}
                  </div>

                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onClick="changeDate()" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">{% if event.DateTime %}Change the date{% else %}Add a date{% endif %}</label>
                  </div>

                  {{form.location.label (class="mt-3 white-text mr-5")}}
                  {% if event.Location %}
                    {{form.location (class="form-control black-text mr-5", value = event.Location)}}
                  {% else %}
                    {{form.location (class="form-control black-text mr-5")}}
                  {% endif %}
                  
                  <br>

                  {{form.group.label (class="white-text mr-5")}}
                  {{form.group (class="form-control black-text mr-5")}}
                  
                  {{form.submit (class="btn btn-primary white-text mt-3 ")}}

                  
                </div>
            </div>
        </div>
    </form>       
  </div>
</div>
{% endblock %}

{% block footer %}display:none;{% endblock %}

{% block script %}

function changeDate() {

  var x = document.getElementById("DateTime");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
    document.getElementById("date").value = "";
    document.getElementById("time").value = "";
  }

}

{% endblock %}